{% extends "homepage.html" %}
{% block body %}
{% include "navbar.html" %}
<body>
    <div class="container">  
      <div class="conteudo">
        {% for foto in fotos %}
            <div class="bloco-imagem">
                <a href="{{ url_for('perfil', id_usuario=foto.id_usuario) }}">
                    <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" alt="" />
                </a>
            </div>
        {% endfor %}
      </div>
    </div>
  </body>
{% endblock %}
