<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
            Home Pinterest
        {% endblock %}
    </title>
</head>
{% block body %}
    <body>
        <p>Home Page no ar</p>
    </body>
    {% block formulario %}
        
        <form action="" method="post">
            {{ form.csrf_token }}
            
            {{ form.email.label() }}
            {{ form.email() }}
            
            {{ form.senha.label() }}
            {{ form.senha() }}
            
            {{ form.botao_confirmacao() }}
        </form>
    {% endblock %}
{% endblock %}
</html>